@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #000000; }

/*! header */
header {
  display: flex;
  flex-direction: column;
  background: #ffff;
  /*! nav */
  /* 侧边栏 */ }
  header #topbox {
    width: 100%;
    position: relative; }
    header #topbox #top {
      width: 1200px;
      height: 50px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between; }
      header #topbox #top .left {
        display: flex;
        flex: 1;
        font-size: 15px;
        color: #8D8D8D; }
        header #topbox #top .left a:nth-child(1) {
          display: block;
          width: 50px;
          height: 49px;
          color: #8D8D8D; }
          header #topbox #top .left a:nth-child(1) img {
            width: 100%; }
        header #topbox #top .left ul {
          display: flex;
          justify-content: space-between; }
          header #topbox #top .left ul li {
            display: flex; }
            header #topbox #top .left ul li a {
              align-items: center;
              height: 49px;
              line-height: 49px; }
          header #topbox #top .left ul li:nth-child(1) a {
            width: 60px;
            margin-left: 22px; }
          header #topbox #top .left ul li:nth-child(7) {
            position: relative; }
            header #topbox #top .left ul li:nth-child(7) span {
              color: #E1140A;
              align-items: center;
              margin-right: 22px;
              height: 49px;
              line-height: 49px; }
            header #topbox #top .left ul li:nth-child(7) img {
              display: none; }
            header #topbox #top .left ul li:nth-child(7):hover img {
              display: block;
              width: 233px;
              height: 124px;
              position: absolute;
              left: -32px;
              top: 43px;
              z-index: 2; }
      header #topbox #top .right {
        display: flex;
        flex: 1;
        justify-content: flex-end; }
        header #topbox #top .right li a {
          color: #000000;
          font-size: 12px;
          width: 24px;
          height: 49px;
          line-height: 49px; }
        header #topbox #top .right li i {
          border-left: 1px solid #b8b8b8;
          height: 11px;
          display: inline-block;
          margin: auto 2px; }
        header #topbox #top .right li:nth-of-type(1) {
          position: relative;
          z-index: 2; }
          header #topbox #top .right li:nth-of-type(1) p {
            position: absolute;
            top: 32px;
            right: -30px;
            width: 157px;
            height: 33px;
            background: url(https://p2.lefile.cn/product/adminweb/2019/01/18/028da9e3-588c-4a8c-9ed7-e94a9c639a12.png) no-repeat;
            background-size: 157px 33px;
            display: flex;
            align-items: center; }
            header #topbox #top .right li:nth-of-type(1) p a:nth-of-type(1) {
              font-size: 12px;
              color: #BA9964;
              height: 33px;
              width: 112px;
              line-height: 20px;
              display: flex;
              align-items: center;
              margin: 5px 8px 0 10px; }
            header #topbox #top .right li:nth-of-type(1) p a:nth-of-type(2) {
              display: flex;
              align-items: center;
              padding-top: 5px; }
        header #topbox #top .right li:nth-of-type(2) {
          position: relative;
          display: flex;
          align-items: center; }
          header #topbox #top .right li:nth-of-type(2) img:nth-of-type(1) {
            width: 23px;
            height: 23px;
            margin-left: 20px; }
          header #topbox #top .right li:nth-of-type(2) img:nth-of-type(2) {
            position: absolute;
            width: 233px;
            height: 124px;
            left: -28px;
            top: 43px;
            display: none; }
          header #topbox #top .right li:nth-of-type(2):hover img:nth-of-type(2) {
            display: inline-block;
            z-index: 2; }
  header nav {
    width: 100%;
    background: #E0E0E0;
    position: relative;
    top: 50px; }
    header nav section {
      width: 1200px;
      height: 70px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between; }
      header nav section ul {
        display: flex; }
        header nav section ul a {
          font-size: 17px;
          color: #3a3a3a;
          font-weight: 550;
          line-height: 70px; }
          header nav section ul a li {
            margin-right: 45px; }
      header nav section form {
        align-self: center;
        position: relative;
        width: 280px;
        height: 40px;
        margin-top: 17px; }
        header nav section form input {
          width: 260px;
          height: 36px;
          font-size: 12px;
          line-height: 36px;
          background: #eaeaea;
          padding: 0 0px 0 17px;
          margin-right: 8px;
          box-sizing: content-box;
          border: none;
          outline: none;
          border-radius: 39px;
          z-index: 1; }
        header nav section form a {
          position: absolute;
          top: 8px;
          left: 235px; }
  header #columns {
    position: fixed;
    right: 20px;
    top: 25%;
    display: none;
    z-index: 1; }
    header #columns ul {
      background: #ffff; }
      header #columns ul li {
        display: flex;
        flex-direction: column;
        width: 50px;
        cursor: pointer;
        font-size: 16px;
        padding: 10px 8px 10px;
        align-items: center; }
        header #columns ul li:hover i {
          color: red; }
        header #columns ul li:hover span {
          color: red; }
        header #columns ul li i {
          font-size: 28px;
          color: #a5a5a5; }
        header #columns ul li span {
          font-weight: 900;
          color: #7e7d7d;
          border-bottom: 1px solid #cccaca;
          padding-bottom: 10px; }
      header #columns ul .last {
        background: #faf6f6;
        display: flex;
        align-items: center;
        justify-content: center; }
        header #columns ul .last a {
          display: inline-block;
          width: 50px;
          height: auto;
          display: flex;
          justify-content: center; }
          header #columns ul .last a i {
            font-size: 28px;
            color: #a5a5a5; }
          header #columns ul .last a:hover {
            background: red; }

/* title */
#title {
  width: 100%;
  margin-top: 70px;
  border-bottom: 1px solid #DADADA;
  display: flex;
  align-items: center; }
  #title #titleBox {
    width: 1200px;
    margin: 0 auto;
    height: 35px;
    line-height: 35px;
    display: flex;
    justify-content: space-between; }
    #title #titleBox .titleLeft li {
      color: #535353;
      font-size: 12px; }
      #title #titleBox .titleLeft li a:hover {
        color: red; }
    #title #titleBox .titleRight {
      margin-left: 36px;
      font-size: 12px;
      position: relative;
      display: flex;
      align-items: center; }
      #title #titleBox .titleRight a {
        display: flex;
        align-items: center; }
        #title #titleBox .titleRight a img {
          width: 98px;
          height: 24px; }
        #title #titleBox .titleRight a span {
          position: absolute;
          display: flex;
          color: #ffff;
          font-size: 12px;
          top: -2px;
          left: 38px; }

/* 产品展示区 */
#exhibition {
  width: 100%;
  margin-top: 50px;
  /* 左侧橱窗 */ }
  #exhibition #exhibit_box {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    /* 大图 */ }
    #exhibition #exhibit_box .exhibit_left {
      width: 520px;
      /* 缩略图容器 */ }
      #exhibition #exhibit_box .exhibit_left .details_imgBox .details_img {
        width: 520px;
        height: 520px;
        position: relative; }
        #exhibition #exhibit_box .exhibit_left .details_imgBox .details_img .mark {
          width: 260px;
          height: 260px;
          background: rgba(248, 128, 128, 0.3);
          position: absolute;
          z-index: 0;
          display: none; }
        #exhibition #exhibit_box .exhibit_left .details_imgBox .details_img .magnify_box {
          position: absolute;
          left: 600px;
          top: 0px;
          width: 520px;
          height: 520px;
          display: none;
          overflow: hidden; }
          #exhibition #exhibit_box .exhibit_left .details_imgBox .details_img .magnify_box img {
            width: 200%;
            height: 200%;
            position: absolute; }
      #exhibition #exhibit_box .exhibit_left .thumbBox {
        width: 500px;
        margin: 20px auto 0;
        overflow: hidden;
        /* 缩略图 */ }
        #exhibition #exhibit_box .exhibit_left .thumbBox .thumb_img {
          display: flex;
          flex-direction: row;
          width: 895px;
          position: relative; }
          #exhibition #exhibit_box .exhibit_left .thumbBox .thumb_img li {
            padding-right: 16px;
            cursor: pointer; }
            #exhibition #exhibit_box .exhibit_left .thumbBox .thumb_img li img {
              width: 84px;
              height: 84px;
              border: 1px solid #d3d1d1; }
          #exhibition #exhibit_box .exhibit_left .thumbBox .thumb_img li:nth-of-type(1) {
            padding-left: 11px; }
      #exhibition #exhibit_box .exhibit_left .img_btn {
        cursor: pointer;
        position: absolute; }
        #exhibition #exhibit_box .exhibit_left .img_btn i {
          color: #a5a5a5;
          font-weight: 900;
          font-size: 26px;
          width: 12px;
          font-family: \5b8b\4f53; }
        #exhibition #exhibit_box .exhibit_left .img_btn .pre {
          width: 24px;
          position: absolute;
          top: -65px;
          left: -4px; }
        #exhibition #exhibit_box .exhibit_left .img_btn .next {
          width: 24px;
          position: absolute;
          top: -65px;
          left: 514px; }
      #exhibition #exhibit_box .exhibit_left #share {
        display: flex;
        width: 520px;
        height: 30px;
        line-height: 30px;
        justify-content: space-between; }
        #exhibition #exhibit_box .exhibit_left #share p {
          font-size: 12px;
          color: #A5A5A5; }
        #exhibition #exhibit_box .exhibit_left #share .right {
          display: flex;
          justify-content: space-between; }
          #exhibition #exhibit_box .exhibit_left #share .right span {
            font-size: 12px;
            color: #333333;
            margin-right: 20px; }
            #exhibition #exhibit_box .exhibit_left #share .right span:hover {
              color: red; }
          #exhibition #exhibit_box .exhibit_left #share .right aside {
            font-size: 12px;
            color: #333333; }
            #exhibition #exhibit_box .exhibit_left #share .right aside:hover {
              color: red; }
    #exhibition #exhibit_box #exhibit_right {
      margin: 36px 0 0 38px;
      width: 642px; }
      #exhibition #exhibit_box #exhibit_right .topic span {
        font-size: 22px; }
      #exhibition #exhibit_box #exhibit_right .topic aside {
        color: #A2A2A2;
        font-size: 14px;
        margin-top: 8px;
        line-height: 22px;
        margin-bottom: 20px; }
      #exhibition #exhibit_box #exhibit_right .price ul {
        width: 640px;
        border: 1px solid #f0f0f0;
        background-color: #f9f9f9;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 9px;
        padding-bottom: 9px; }
        #exhibition #exhibit_box #exhibit_right .price ul li:nth-child(1) {
          display: flex;
          justify-content: space-between;
          margin-left: 15px;
          align-items: center;
          height: 42px; }
          #exhibition #exhibit_box #exhibit_right .price ul li:nth-child(1) span {
            width: 45px;
            font-size: 12px;
            color: #434242;
            margin-right: 35px; }
          #exhibition #exhibit_box #exhibit_right .price ul li:nth-child(1) aside {
            font-weight: bold;
            font-size: 28px;
            color: #E1140A; }
        #exhibition #exhibit_box #exhibit_right .price ul li:nth-child(2) {
          font-size: 12px;
          color: #a5a5a5; }
      #exhibition #exhibit_box #exhibit_right .service ul {
        width: 640px;
        padding-left: 20px; }
        #exhibition #exhibit_box #exhibit_right .service ul li {
          display: flex;
          align-items: center; }
          #exhibition #exhibit_box #exhibit_right .service ul li article {
            padding-right: 20px; }
        #exhibition #exhibit_box #exhibit_right .service ul > li:nth-of-type(1) {
          margin-top: 15px;
          color: #434242;
          display: flex; }
          #exhibition #exhibit_box #exhibit_right .service ul > li:nth-of-type(1) > ol {
            display: flex; }
            #exhibition #exhibit_box #exhibit_right .service ul > li:nth-of-type(1) > ol li:nth-child(2) {
              background: #a6ce50;
              border-radius: 10px;
              margin: 0 10px; }
              #exhibition #exhibit_box #exhibit_right .service ul > li:nth-of-type(1) > ol li:nth-child(2) a {
                display: block;
                height: 20px;
                line-height: 20px;
                color: #ffff;
                font-size: 12px;
                margin: 0 10px; }
        #exhibition #exhibit_box #exhibit_right .service ul .ul2 {
          width: 622px;
          margin-top: 15px;
          color: #434242;
          display: flex;
          align-items: flex-start; }
          #exhibition #exhibit_box #exhibit_right .service ul .ul2 article {
            flex-shrink: 0; }
          #exhibition #exhibit_box #exhibit_right .service ul .ul2 ol {
            padding-right: 20px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap; }
            #exhibition #exhibit_box #exhibit_right .service ul .ul2 ol li {
              width: 255px;
              flex-shrink: 0;
              align-content: center;
              margin-bottom: 10px;
              border: 1px solid #f0f0f0; }
              #exhibition #exhibit_box #exhibit_right .service ul .ul2 ol li figure {
                height: 23px;
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding-right: 30px;
                flex-shrink: 0; }
              #exhibition #exhibit_box #exhibit_right .service ul .ul2 ol li .hide {
                width: 300px;
                display: flex;
                flex-shrink: 0;
                display: none;
                position: relative;
                top: 35px;
                left: -255px;
                background: #ffff; }
                #exhibition #exhibit_box #exhibit_right .service ul .ul2 ol li .hide input {
                  margin-right: 5px; }
                #exhibition #exhibit_box #exhibit_right .service ul .ul2 ol li .hide aside {
                  margin-right: 5px; }
                #exhibition #exhibit_box #exhibit_right .service ul .ul2 ol li .hide span a {
                  text-decoration: underline; }
                  #exhibition #exhibit_box #exhibit_right .service ul .ul2 ol li .hide span a:hover {
                    color: red; }
        #exhibition #exhibit_box #exhibit_right .service ul .ul3 {
          width: 622px;
          margin-top: 15px;
          color: #434242;
          display: flex;
          align-items: flex-start; }
          #exhibition #exhibit_box #exhibit_right .service ul .ul3 article {
            flex-shrink: 0; }
          #exhibition #exhibit_box #exhibit_right .service ul .ul3 ol {
            padding-right: 20px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap; }
            #exhibition #exhibit_box #exhibit_right .service ul .ul3 ol li {
              width: 255px;
              flex-shrink: 0;
              align-content: center;
              margin-bottom: 10px;
              border: 1px solid #f0f0f0; }
              #exhibition #exhibit_box #exhibit_right .service ul .ul3 ol li figure {
                height: 23px;
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding-right: 30px;
                flex-shrink: 0; }
              #exhibition #exhibit_box #exhibit_right .service ul .ul3 ol li .hide {
                width: 300px;
                display: flex;
                flex-shrink: 0;
                display: none;
                position: relative;
                top: 35px;
                left: -255px;
                background: #ffff; }
                #exhibition #exhibit_box #exhibit_right .service ul .ul3 ol li .hide input {
                  margin-right: 5px; }
                #exhibition #exhibit_box #exhibit_right .service ul .ul3 ol li .hide aside {
                  margin-right: 5px; }
                #exhibition #exhibit_box #exhibit_right .service ul .ul3 ol li .hide span a {
                  text-decoration: underline; }
                  #exhibition #exhibit_box #exhibit_right .service ul .ul3 ol li .hide span a:hover {
                    color: red; }

#pic_box {
  width: 100%; }
  #pic_box .pic {
    width: 1920px;
    margin: 50px auto; }
    #pic_box .pic img {
      width: 100%;
      display: block; }

/* footer */
.tPacture {
  width: 100%;
  background: #ffff; }
  .tPacture article {
    width: 1200px;
    height: 199px;
    margin: 0 auto; }
    .tPacture article img {
      width: 100%;
      height: 100%; }

footer {
  width: 100%;
  background: #f5f5f5; }
  footer #footBox {
    width: 1200px;
    height: 294px;
    margin: 0 auto;
    padding: 70px 20px 70px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    footer #footBox ul li {
      margin-bottom: 12px;
      font-family: "微软雅黑";
      font-size: 12px; }
      footer #footBox ul li a {
        color: #757575; }
    footer #footBox ul li:nth-of-type(1) {
      font-weight: 900;
      margin-bottom: 18px;
      font-size: 16px; }
      footer #footBox ul li:nth-of-type(1) a {
        color: #424242 !important; }
    footer #footBox .t1 {
      width: 860px;
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      footer #footBox .t1 ul li a:hover {
        opacity: 0.8; }
    footer #footBox .t2 {
      height: 89px;
      padding: 0 10px 0 80px;
      display: flex;
      flex-direction: column;
      border-left: 1.5px solid #bebebe; }
      footer #footBox .t2 p {
        font-size: 20px;
        color: #e1140a;
        font-weight: 900;
        padding-bottom: 10px; }
      footer #footBox .t2 span {
        font-size: 12px;
        color: #757575;
        margin-bottom: 8px; }

/* bottom */
#bottom {
  width: 100%;
  background: #2e2e2e; }
  #bottom section {
    width: 1200px;
    height: 45.3px;
    margin: 0 auto;
    color: #757575;
    font-size: 12px;
    display: flex;
    justify-content: space-between; }
    #bottom section ul {
      display: flex;
      align-items: center; }
      #bottom section ul li {
        padding: 0 10px;
        border-left: 1.5px solid  #757575; }
        #bottom section ul li a {
          color: #757575; }
      #bottom section ul li:nth-child(1) {
        border: none; }
    #bottom section ol {
      display: flex;
      align-items: center; }
      #bottom section ol li {
        padding: 0 10px;
        border-left: 1.5px solid  #757575; }
        #bottom section ol li a {
          color: #757575; }
      #bottom section ol li:nth-child(1) {
        border: none; }
