@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #000000; }

/*! header */
header {
  display: flex;
  flex-direction: column;
  background: #ffff;
  /*! nav */ }
  header #topbox {
    width: 100%;
    position: absolute; }
    header #topbox #top {
      width: 1200px;
      height: 50px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between; }
      header #topbox #top .left {
        display: flex;
        flex: 1;
        font-size: 15px;
        color: #8D8D8D; }
        header #topbox #top .left a:nth-child(1) {
          display: block;
          width: 50px;
          height: 49px;
          color: #8D8D8D; }
          header #topbox #top .left a:nth-child(1) img {
            width: 100%; }
        header #topbox #top .left ul {
          display: flex;
          justify-content: space-between; }
          header #topbox #top .left ul li {
            display: flex; }
            header #topbox #top .left ul li a {
              align-items: center;
              margin-right: 22px;
              height: 49px;
              line-height: 49px; }
          header #topbox #top .left ul li:nth-child(1) a {
            width: 60px;
            margin-left: 22px; }
          header #topbox #top .left ul li:nth-child(7) {
            position: relative; }
            header #topbox #top .left ul li:nth-child(7) span {
              color: #E1140A;
              align-items: center;
              margin-right: 22px;
              height: 49px;
              line-height: 49px; }
            header #topbox #top .left ul li:nth-child(7) img {
              display: none; }
            header #topbox #top .left ul li:nth-child(7):hover img {
              display: block;
              width: 233px;
              height: 124px;
              position: absolute;
              left: -32px;
              top: 43px;
              z-index: 2; }
      header #topbox #top .right {
        display: flex;
        flex: 1;
        justify-content: flex-end; }
        header #topbox #top .right li a {
          color: #000000;
          font-size: 12px;
          width: 24px;
          height: 49px;
          line-height: 49px; }
        header #topbox #top .right li a:nth-of-type(2) img {
          position: relative;
          top: 9px; }
        header #topbox #top .right li i {
          border-left: 1px solid #b8b8b8;
          height: 11px;
          display: inline-block;
          margin: auto 2px; }
        header #topbox #top .right li:nth-of-type(1) {
          position: relative;
          z-index: 2; }
          header #topbox #top .right li:nth-of-type(1) p {
            position: absolute;
            top: 32px;
            right: -30px;
            width: 157px;
            height: 33px;
            background: url(https://p2.lefile.cn/product/adminweb/2019/01/18/028da9e3-588c-4a8c-9ed7-e94a9c639a12.png) no-repeat;
            background-size: 157px 33px;
            display: flex;
            align-items: center; }
            header #topbox #top .right li:nth-of-type(1) p a:nth-of-type(1) {
              font-size: 12px;
              color: #BA9964;
              height: 33px;
              width: 112px;
              line-height: 20px;
              display: flex;
              align-items: center;
              margin: 5px 8px 0 10px; }
            header #topbox #top .right li:nth-of-type(1) p a:nth-of-type(2) {
              display: flex;
              align-items: center;
              padding-top: 5px; }
        header #topbox #top .right li:nth-of-type(2) {
          position: relative;
          display: flex;
          align-items: center; }
          header #topbox #top .right li:nth-of-type(2) img:nth-of-type(1) {
            width: 23px;
            height: 23px;
            margin-left: 20px; }
          header #topbox #top .right li:nth-of-type(2) img:nth-of-type(2) {
            position: absolute;
            width: 233px;
            height: 124px;
            left: -28px;
            top: 43px;
            display: none; }
          header #topbox #top .right li:nth-of-type(2):hover img:nth-of-type(2) {
            display: inline-block;
            z-index: 2; }
  header nav {
    width: 100%;
    background: #E0E0E0;
    position: absolute;
    top: 50px; }
    header nav section {
      width: 1200px;
      height: 70px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between; }
      header nav section ul {
        display: flex; }
        header nav section ul a {
          font-size: 17px;
          color: #3a3a3a;
          font-weight: 550;
          line-height: 70px; }
          header nav section ul a li {
            margin-right: 45px; }
      header nav section form {
        align-self: center;
        position: relative;
        width: 280px;
        height: 40px;
        margin-top: 17px; }
        header nav section form input {
          width: 260px;
          height: 36px;
          font-size: 12px;
          line-height: 36px;
          background: #eaeaea;
          padding: 0 0px 0 17px;
          margin-right: 8px;
          box-sizing: content-box;
          border: none;
          outline: none;
          border-radius: 39px;
          z-index: 1; }
        header nav section form a {
          position: absolute;
          top: 8px;
          left: 235px; }
  header #columns {
    position: fixed;
    right: 20px;
    top: 25%;
    display: none;
    z-index: 1; }
    header #columns ul {
      background: #ffff; }
      header #columns ul li {
        display: flex;
        flex-direction: column;
        width: 50px;
        cursor: pointer;
        font-size: 16px;
        padding: 10px 8px 10px;
        align-items: center; }
        header #columns ul li:hover i {
          color: red; }
        header #columns ul li:hover span {
          color: red; }
        header #columns ul li i {
          font-size: 28px;
          color: #a5a5a5; }
        header #columns ul li span {
          font-weight: 900;
          color: #7e7d7d;
          border-bottom: 1px solid #cccaca;
          padding-bottom: 10px; }
      header #columns ul .last {
        background: #faf6f6;
        display: flex;
        align-items: center;
        justify-content: center; }
        header #columns ul .last a {
          display: inline-block;
          width: 50px;
          height: auto;
          display: flex;
          justify-content: center; }
          header #columns ul .last a i {
            font-size: 28px;
            color: #a5a5a5; }
          header #columns ul .last a:hover {
            background: red; }

/* 产品展示区 */
.lastal {
  width: 100%;
  margin-top: 120px;
  background: #F5F5F5; }
  .lastal .lastal1 {
    width: 1200px;
    margin: 120px  auto 0 auto;
    background: #F5F5F5;
    padding-top: 30px; }
    .lastal .lastal1 .content {
      display: flex;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .lastal .lastal1 .content li {
        width: 280px;
        height: 390px;
        background: #ffff;
        margin-bottom: 24px;
        margin-left: 16px;
        overflow: hidden;
        padding: 0 10px 0; }
        .lastal .lastal1 .content li:hover {
          box-shadow: 10px 10px 5px rgba(228, 227, 227, 0.85), -10px -10px 5px rgba(228, 227, 227, 0.85); }
          .lastal .lastal1 .content li:hover a img {
            opacity: .8; }
        .lastal .lastal1 .content li .goods_pic {
          position: relative; }
          .lastal .lastal1 .content li .goods_pic .pic a {
            display: block;
            text-align: center; }
            .lastal .lastal1 .content li .goods_pic .pic a img {
              padding: 6px 0;
              width: 160px;
              height: 160px; }
          .lastal .lastal1 .content li .goods_pic .pic .check {
            position: absolute;
            top: 0px;
            right: -7px;
            padding-top: 6px;
            display: flex;
            align-items: center; }
            .lastal .lastal1 .content li .goods_pic .pic .check input {
              width: 21px;
              height: 20px; }
            .lastal .lastal1 .content li .goods_pic .pic .check i {
              font-size: 14px;
              color: rgba(19, 18, 18, 0.267); }
          .lastal .lastal1 .content li .goods_pic .change {
            width: 250px;
            height: 35px;
            margin: 5px 10px 0 10px;
            border-bottom: 1px solid #dad7d7; }
            .lastal .lastal1 .content li .goods_pic .change a {
              display: inline-block;
              width: 32px;
              height: 18px;
              font-size: 12px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #f05252;
              border: 2px solid #f05252; }
        .lastal .lastal1 .content li .goods_title .title {
          margin: 12px 0 15px;
          width: 250px;
          height: 36px; }
          .lastal .lastal1 .content li .goods_title .title a {
            font-size: 14px;
            color: #424242;
            display: flex;
            padding: 5px 20px 20px 20px;
            line-height: 16px; }
        .lastal .lastal1 .content li .goods_title .description {
          height: 48px; }
          .lastal .lastal1 .content li .goods_title .description a {
            color: #cfcfcf;
            font-size: 12px;
            padding: 0px 20px 0px 20px;
            display: flex; }
        .lastal .lastal1 .content li .goods_title .price {
          margin-top: 20px; }
          .lastal .lastal1 .content li .goods_title .price i {
            height: 36px;
            align-items: center;
            font-size: 14px;
            color: #2d2d2d;
            font-weight: 900;
            padding: 0px 20px 0px 20px; }
        .lastal .lastal1 .content li .goods_title .sc_btn {
          float: right;
          width: 100px;
          height: 40px;
          background: #e62727;
          font-size: 18px;
          color: #ffff;
          font-weight: 900;
          line-height: 40px;
          text-align: center;
          border-radius: 3px;
          cursor: pointer; }

/* footer */
.tPacture {
  width: 100%;
  background: #ffff; }
  .tPacture article {
    width: 1200px;
    height: 199px;
    margin: 0 auto; }
    .tPacture article img {
      width: 100%;
      height: 100%; }

footer {
  width: 100%;
  background: #f5f5f5; }
  footer #footBox {
    width: 1200px;
    height: 294px;
    margin: 0 auto;
    padding: 70px 20px 70px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    footer #footBox ul li {
      margin-bottom: 12px;
      font-family: "微软雅黑";
      font-size: 12px; }
      footer #footBox ul li a {
        color: #757575; }
    footer #footBox ul li:nth-of-type(1) {
      font-weight: 900;
      margin-bottom: 18px;
      font-size: 16px; }
      footer #footBox ul li:nth-of-type(1) a {
        color: #424242 !important; }
    footer #footBox .t1 {
      width: 860px;
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
    footer #footBox .t2 {
      height: 89px;
      padding: 0 10px 0 80px;
      display: flex;
      flex-direction: column;
      border-left: 1.5px solid #bebebe; }
      footer #footBox .t2 p {
        font-size: 20px;
        color: #e1140a;
        font-weight: 900;
        padding-bottom: 10px; }
      footer #footBox .t2 span {
        font-size: 12px;
        color: #757575;
        margin-bottom: 8px; }

/* bottom */
#bottom {
  width: 100%;
  background: #2e2e2e; }
  #bottom section {
    width: 1200px;
    height: 45.3px;
    margin: 0 auto;
    color: #757575;
    font-size: 12px;
    display: flex;
    justify-content: space-between; }
    #bottom section ul {
      display: flex;
      align-items: center; }
      #bottom section ul li {
        padding: 0 10px;
        border-left: 1.5px solid  #757575; }
        #bottom section ul li a {
          color: #757575; }
      #bottom section ul li:nth-child(1) {
        border: none; }
    #bottom section ol {
      display: flex;
      align-items: center; }
      #bottom section ol li {
        padding: 0 10px;
        border-left: 1.5px solid  #757575; }
        #bottom section ol li a {
          color: #757575; }
      #bottom section ol li:nth-child(1) {
        border: none; }
